/*===== Text =====*/

h1{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 700;
}

h2 {
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 26px;
        font-weight: 500;
}

/*==== Images ====*/

img {
max-width: 80%;
} 

/*===== Links =====*/
a {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: white;
    font-size: 24px;
    text-decoration: none;
    padding-right: 25px;
}

a:hover {
    color: #fe8888 !important;
}

/*===== Navigation=====*/

.bg-light {
    background: transparent !important;

  }

  .navbar-light .navbar-toggler-icon {
    background-image: url(../images/hamburger-menu.png);
  }
  
  /* .custom-toggler.navbar-toggler {
    border-color: rgb(255,102,203);
  }  */

  /*===== Jumbotron =====*/

.jumbotron {
    padding: 0;
    background-image: url(../images/desktop\ in\ use@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 25px);
    display: block;
    align-items: center;
    justify-content: center;

  }

  /*==== MEDIA QUERY ====*/

  @media only screen and (max-width: 1200px) {
    
    .jumbotron {
        background-position: 85%;
    }

}

  @media only screen and (max-width: 600px) {
    
    .jumbotron {
        background-image: url(../images/desktop\ in\ use_mobile.png);
        background-position: center;
    }

}